<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1">
        <title>List Users</title>
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
        <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        <form method="post" th:action="@{/Gestion_Inventarios/Pedido/Guardar/}" th:object="${Pedidoo}">
            <input type="datetime-local" th:field="${Pedidoo.Fecha_salida}" required>
            <table>
                <thead>
                    <tr>
                        <th>Nombre Producto</th>
                        <th>Descripcion</th>
                        <th>Cantidad</th>
                        <th>PrecioUnitario</th>
                        <th>Proveedor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="productos: ${Productoss}">
                        <td th:value="${productos.ID_Producto}" hidden id="ID_Producto"></td>
                        <td th:text="${productos.Nombre}"></td>
                        <td th:text="${productos.Descripcion}"></td>
                        <td th:text="${productos.Cantidad}"></td>
                        <td th:text="${productos.Preciounitario}"></td>
                        <td th:text="${productos.proveedor.Nombre}"></td>
                        <td>
                            <select id="CantidadDetalle" required>
                                <option th:each="i : ${#numbers.sequence(0, productos.Cantidad)}" th:value="${i}" th:text="${i}"></option>
                            </select> 
                        </td>
                        <td><a th:href="@{/Gestion_Inventarios/DetallePedido/{idProducto}/{cantidad}(idProducto=${productos.ID_Producto}, cantidad=${productos.Cantidad})}">
                            <button type="button">AGREGAR</button>
                        </a></td>
                    </tr>
                </tbody>
            </table>
            <button type="submit">GUARDAR</button>
        </form>
        <a th:href="@{/Gestion_Inventarios/Productos/}"><button type="button">Atras</button></a>
    </div>