<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1">
        <title>List Users</title>
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
        <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
    <div class="container text-center">
        <div>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out" />
            </form>
        </div>
        <div>
            <h1>List of Users</h1>
        </div>
        
        <div>
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Ususario</th>
                        <th>Nombre Producto</th>
                        <th>Descripcion</th>
                        <th>Cantidad</th>
                        <th>PrecioUnitario</th>
                        <th>Proveedor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="productos: ${Productoss}">
                        <td th:text="${productos.usuario.Nom_usuario}">5</td>
                        <td th:text="${productos.Nombre}">1</td>
                        <td th:text="${productos.Descripcion}">2</td>
                        <td th:text="${productos.Cantidad}">3</td>
                        <td th:text="${productos.Preciounitario}">4</td>
                        <td th:text="${productos.proveedor.Nom_usuario}">5</td>
                        <td><a th:href="@{/Gestion_Inventarios/Productos/BorrarProducto/} + ${productos.ID_Producto}"><button type="button">BORRAR</button></a></td>
                        <td><a th:href="@{/Gestion_Inventarios/Productos/EditarProducto/} + ${productos.ID_Producto}"><button type="button">EDITAR</button></a></td>

                    </tr>
                </tbody>
            </table>
        </div> 
        <a th:href="@{/Gestion_Inventarios/Usuario/}"><button type="button">VerUsuario</button></a>
        <a th:href="@{/Gestion_Inventarios/Productos/NuevoProducto/}"><button type="button">NuevoProducto</button></a>
        <a th:href="@{/Gestion_Inventarios/Tienda/}"><button type="button">Tienda</button></a>
        <a th:href="@{/Gestion_Inventarios/Transaccion/Lista}"><button type="button">Transacciones</button></a>
        <a th:href="@{/Gestion_Inventarios/Transaccion/Pedido/}"><button type="button">Pedidos</button></a>
    </div>
    </body>
</html>