<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1">
        <title>List Users</title>
    </head>
    <header th:replace = "~{barra}"></header>
    <body>
    <div class="container text-center">
        <div style="padding: 10px;">
            <h2>Tienda</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <input type="text" id="barraBusqueda" class="form-control mb-3" placeholder="Buscar producto..." oninput="buscarProductosPro()">
            </div>
            <div class="col-md-3">
                <select id="filtro" class="form-control mb-3" onchange="filterProductsPro()">
                    <option value="">Todos los Proveedores</option>
                    <option th:each="proveedor: ${Proveedoress}" th:value="${proveedor.Nom_usuario}" th:text="${proveedor.Nom_usuario}"></option>
                </select>
            </div>        
        </div>
        <a class="btn btn-secondary" style="margin-right: 10px;" th:href="@{/Gestion_Inventarios/Tienda/0(pagina=0, orden='cantidad', direccion=${direccion == 'asc' ? 'desc' : 'asc'})}">Cantidad</a>
        <a class="btn btn-secondary" th:href="@{/Gestion_Inventarios/Tienda/0(pagina=0, orden='preciounitario', direccion=${direccion == 'asc' ? 'desc' : 'asc'})}">Precio Unitario</a>
        <div>
            <div class="container mt-5">
                <div class="row" id="cardContainer">
                    <div class="col-md-3 mb-3" th:each="productos: ${Productoss}">
                        <div class="card">
                            <img src="/img/disabled.png" class="card-img-top img-thumbnail" alt="Imagen del Producto">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${productos.Nombre}"></h5>
                                <p class="card-text">
                                    <strong>Cantidad: </strong><span th:text="${productos.cantidad}"></span>
                                </p>
                                <p class="card-text">
                                    <strong>Precio: </strong><span th:text="'$' + ${productos.preciounitario}"></span>
                                </p>
                                <a th:href="@{/Gestion_Inventarios/Productos/VerProducto/} + ${productos.ID_Producto}" class="btn btn-primary">Ver Producto</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div th:if="${Productoss.totalPages > 1}">
            <ul class="pagination">
                <li th:if="${Productoss.hasPrevious()}" class="page-item">
                    <a class="page-link" th:href="@{/Gestion_Inventarios/Tienda/} + ${Productoss.number - 1}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li th:each="i : ${#numbers.sequence(0, Productoss.totalPages - 1)}" class="page-item">
                    <a class="page-link" th:href="@{/Gestion_Inventarios/Tienda/} + ${i}" th:text="${i + 1}" th:classappend="${i == Productoss.number ? 'active' : ''}"></a>
                </li>
                <li th:if="${Productoss.hasNext()}" class="page-item">
                    <a class="page-link" th:href="@{/Gestion_Inventarios/Tienda/} + ${Productoss.number + 1}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    </body>
    <script th:src="@{/js/app.js}"></script>
</html>