<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Transaccion</title>
    <style>
        .container {
            margin-top: 20px;
            max-width: 600px;
        }
        .form-header {
            margin-bottom: 20px;
        }
        .form-group {
            margin-bottom: 15px;
        }
        .btn-custom {
            margin-top: 20px;
        }
        .form-card {
            padding: 20px;
            border-radius: 10px;
            width: 600px;
            background-color: #f8f9fa;
            margin: 0 auto;
        }
        label{
            font-weight: 600;
        }
    </style>
</head>
<header th:replace = "~{barra}"></header>
<body>
    <div class="container">
        <div class="text-center form-header">
            <h2>Transacción</h2>
        </div>
        <form th:action="@{/Gestion_Inventarios/Transaccion/Nueva_Transaccion}" th:object="${Transaccionn}" method="post" class="form-card">
            <div class="form-group">
                <label for="Nombre">Nombre</label>
                <input type="text" id="Nombre" class="form-control" th:field="${Transaccionn.producto.Nombre}" readonly>
            </div>
            <div class="form-group">
                <label for="Descripcion">Descripción</label>
                <textarea style="max-height: 150px; min-height: 30px;" type="text" id="Descripcion" class="form-control" th:field="${Transaccionn.producto.Descripcion}" readonly></textarea>
            </div>
            <div class="form-group">
                <label for="Cantidad">Cantidad Disponible</label>
                <input type="text" id="Cantidad" class="form-control" th:field="${Transaccionn.producto.cantidad}" readonly>
            </div>
            <div class="form-group">
                <label for="Preciounitario">Precio Unitario</label>
                <input type="text" id="Preciounitario" class="form-control" th:field="${Transaccionn.producto.preciounitario}" readonly>
            </div>
            <div class="form-group">
                <label for="Proveedor">Proveedor</label>
                <input type="text" id="Proveedor" class="form-control" th:field="${Transaccionn.producto.proveedor.Nombre}" readonly>
            </div>
            <div class="form-group">
                <label for="Cantidad_total">Cantidad a Comprar</label>
                <select id="Cantidad_total" class="form-control" th:field="${Transaccionn.Cantidad_total}" onchange="calculateTotal()" required>
                    <option th:each="i : ${#numbers.sequence(0, Transaccionn.producto.Cantidad)}" th:value="${i}" th:text="${i}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="Precio_total">Precio Total</label>
                <input type="number" id="Precio_total" class="form-control" th:field="${Transaccionn.Precio_total}" placeholder="Precio total" readonly required>
            </div>
            <div class="form-group">
                <label for="Fecha_entrega">Fecha de Entrega</label>
                <input type="datetime-local" id="Fecha_entrega" class="form-control" th:field="${Transaccionn.Fecha_entrega}" required>
            </div>
            <input type="hidden" th:field="${Transaccionn.producto}" th:value="${Transaccionn.producto}">
            <input type="hidden" th:field="${Transaccionn.usuario}" th:value="${Transaccionn.usuario}">
            <div class="text-center">
                <button type="submit" class="btn btn-success btn-custom">Generar Transacción</button>
                <button type="button" class="btn btn-secondary btn-custom" onclick="regresar()">Atrás</button>
            </div>
        </form>
    </div>
        
</body>
    <script th:src="@{/js/app.js}"></script>
</html>